
.result-conatiner{
    width: 100%;
    height: 100%;
    position: relative;
}
.horaires-cont{
    position: relative;
    top: 10px;
}
.horaires-cont img{
    width: 17px;
    float: right;
    margin-right: 5px;
    padding: 3px;
    background-color: #141529;
    border-radius: 50%;
    cursor: pointer;
}
#hor-btn{
    border: none;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 85px;
    background-color: #141529;
    color: #78d700;
    font-weight: bold;
    cursor: pointer;
}
.title-cont{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.title-cont h4{
    text-align: center;
    width: 80%;
    line-height: 27px;
}
.title-cont h4 span{
    padding: 2px 7px;
    border-radius: 4px;
    margin: 0px 2px;
}
.prochains-horaires-cont{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cont{
    display: flex;
    justify-content: center;
}
.btn-re-search{
    background-color: #141529;
    margin-top: 15px;
    padding: 8px;
    border: none;
    color: #03c988;
    font-weight: bold;
    border-radius: 2px;
    cursor:pointer;
    font-size: 12px;
}
